#portfolio-section {
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background: transparent;
    padding: 40px 30px;
}


.carousel-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 65vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) var(--background-color-dark);
}

.carousel-list::-webkit-scrollbar {
    width: 8px;
}

.carousel-list::-webkit-scrollbar-track {
    background: var(--background-color-dark);
    border-radius: 10px;
}

.carousel-list::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 25px;
    transition: all 0.3s ease;
    background: var(--background-color-dark);
    margin: 20px;
    border-radius: 4px;
    position: relative;
    border: 1px solid rgba(255, 217, 0, 0.05);
}

.carousel-item:hover {
    background-color: rgba(55, 55, 55, 1);
    box-shadow: inset 0 0 0 2px var(--main-color);
}

.carousel-title {
    width: 100%;
    font-size: 1.5rem;
    color: var(--main-color);
    font-family: 'Orbitron',
        sans-serif;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

.carousel-buttons {
    display: flex;
    gap: 15px;
    margin-top: 5px;
    width: 100%;
    justify-content: end;
}

.carousel-btn {
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 6px;
}

.carousel-btn:hover {
    background: var(--main-color);
    color: #222;
}

.carousel-btn i {
    font-size: 1rem;
}


.portfolio-intro {
    max-width: 700px;
    margin: 0 auto 40px auto;
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.2rem;
    line-height: 1.6;
}

.portfolio-intro strong {
    color: var(--main-color);
}

.project-description {
    color: var(--secondary-color);
    text-align: center;
    margin: 25px 0;
    line-height: 1.5;
    font-size: 1rem;
}

