* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(255, 217, 0);
    --secondary-color: rgb(148, 148, 148);
    --background-color-light: rgb(49, 49, 49);
    --background-color-dark: rgb(43, 43, 43);

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-light);
    font-family: 'Exo 2', sans-serif;
    overflow-y: hidden;
}

h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #2b2b2b;
    background: linear-gradient(45deg, rgb(37, 37, 37)35%, var(--background-color-dark) 10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
    font-size: 50px;
    color: var(--main-color);
    padding-left: 20px;
    letter-spacing: 4px;
}

.page-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: transparent;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.page-links {
    font-size: 36px;
    text-decoration-line: none;
    transition: transform .2s;
}

.page-links:link {
    color: var(--secondary-color);

}

.page-links:visited {
    color: var(--secondary-color);
}

.page-links:hover {
    color: var(--main-color);
    text-shadow: rgb(255, 235, 153) 1px 0 10px;
}

.page-links:active {
    color: var(--main-color);
}

.active {
    text-decoration-line: underline;
    text-decoration-color: var(--main-color);
}

/* HOME PAGE */

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#intro {
    font-size: 50px;
    color: var(--main-color);
    letter-spacing: 4px;
    text-align: center;
}

.background-img {
    background-image:
        linear-gradient(45deg, var(--background-color-dark) 10%, transparent 100%),
        linear-gradient(0, var(--background-color-dark) 5%, transparent 100%),
        url('images/nkpgb.jpg');

    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 100vh;
}

.background-news {
    background-image:
        linear-gradient(45deg, var(--background-color-dark) 10%, transparent 100%),
        linear-gradient(0, var(--background-color-dark) 5%, transparent 100%),
        url('images/nkpg.jpg');
    height: 150vh;
}

.inner-box {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 150px;
}

#inner-box-news {
    background-color: rgb(43, 43, 43, 0.5);
    padding: 60px;
    border-radius: 10px;
    box-shadow: rgb(255, 235, 153) 1px 0 10px;
}

.content-box {
    color: var(--main-color);
    background-color: var(--background-color-dark);
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* HOME PAGE END*/

/* ABOUT PAGE */

#about-me-section {
    height: 100vh;
}

.about-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color-dark);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: var(--main-color) rgb(53, 53, 53);

}

.about-container::-webkit-scrollbar {
    height: 10px;
    background: rgb(53, 53, 53);
}

.about-container::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.about-container::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}


.inner-about {
    height: 100%;
    color: var(--secondary-color);

}

.about-one {
    min-width: 100%;
    width: 100vw;
    background:
        url("images/fitz-roy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: inset 0 6px 15px rgba(0, 0, 0, 0.8),
        inset 0 -6px 15px rgba(0, 0, 0, 0.6);

}

.cutout {
    background-color: rgb(46, 46, 46);
    color: rgb(165, 165, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: multiply;

}

.about-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-two .yellow-text {
    transform: rotate(270deg);
    white-space: nowrap;
    display: inline-block;
    margin: -50px;
}

.about-three {
    display: flex;
    flex-wrap: nowrap;
    min-width: auto;
    align-items: center;
    padding: 20px;
}

.inner-about-three-div {
    box-shadow: inset 0 6px 15px rgba(0, 0, 0, 0.8),
        inset 0 -6px 15px rgba(0, 0, 0, 0.6);
    height: 80%;
    width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#inner-about-three-div-one {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('images/iguazu.jpg');
    padding: 150px;
    justify-content: center;
}

#inner-about-three-div-two p {
    padding-inline: 50px;
    text-align: start;
}

#inner-about-three-div-two {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('images/jocke3.jpg');
    justify-content: end;
}

#inner-about-three-div-three {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('images/amazonas.jpg');
}

#inner-about-three-div-three p {
    padding: 50px;
    text-align: start;
}

#inner-about-three-div-four {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('images/boda.png');
    justify-content: start;
}

#inner-about-three-div-four p {
    padding: 50px;
    text-align: end;
}

#inner-about-three-div-five {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('images/joakim.jpg');
    justify-content: end;
    padding-bottom: 100px;
}

#inner-about-three-div-five .page-links {
    color: var(--main-color);
    background-color: rgba(0, 0, 0, 0.582);
    padding: 10px;
}

.inner-about h2 {
    text-align: center;
}

/* LOOPING LOGOS */


.slider {
    display: flex;
    justify-content: end;
    align-items: end;

    width: 100%;
    overflow: hidden;
}

.slider-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {

    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(-20%);
    }
}

.slider-items img {
    width: 12%;
    margin: 20px;

}


/* ABOUT PAGE END */

/* PORTFOLIO PAGE */

#portfolio-section {
    height: 100vh;
    padding: 0px;
}

.portfolio-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
    width: 100%;
}

.portfolio-iframes {
    background: var(--background-color-dark);
    height: 80%;
    width: 80%;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.p-iframe {
    height: 90%;
    width: 100%;
    border: none;
}

.iframe-text {
    text-align: center;
    font-size: 40px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.iframe-links {
    padding: 20px;
    color: var(--main-color);
    letter-spacing: 2px;
    text-decoration-line: none;
    transition: transform .2s ease;
}

.iframe-links:hover {
    text-shadow: rgb(255, 235, 153) 1px 0 10px;
}

.portfolio-buttons {
    background: none;
    color: var(--main-color);
    border: none;
    font-size: 150px;
    cursor: pointer;
}

.portfolio-buttons:hover {
    text-shadow: rgb(255, 235, 153) 1px 0 10px;
}

/* PORTFOLIO PAGE END */

/* CONTACT PAGE */

#contact-section {
    height: 100vh;
}

.contact-page {
    display: flex;
    justify-content: center;
    width: 100%;

}

.contact-container {
    word-break: break-word;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    color: var(--secondary-color);
    border: 4px, dashed, var(--main-color);
    font-size: 23px;
    padding: 50px;
    background-image:
        linear-gradient(90deg, var(--background-color-dark) 30%, transparent 80%),
        linear-gradient(90deg, rgb(43, 43, 43, 0.90) 60%, transparent),
        url('images/bogota.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    width: 60%;

}

.yellow-text {
    color: var(--main-color);
}

.page-links .fa {
    color: var(--main-color);
    font-size: 48px;
}

/* CONTACT PAGE END */

/* MEDIA QUERIES */

@media all and (max-width: 600px) {

    body {
        overflow-x:hidden;
    }

    #intro{
        word-break: break-word;
        font-size: 30px;
        padding:20px;
    }

    #header {
        flex-direction: column;
    }

    #header h1 {
        padding: 0px;
        padding-top: 50px;
    }

    .page-links{
        font-size: 20px;
    }

    #contact-section {
        height: 100svh;
    }
    #contact-section h2 {
        display: none;
    }

    .contact-page{
        height:70%;
    }

    .contact-container {
        padding: 10px;
        margin: 10px;
        width: 100%;
        background-size: cover;
    }

    .portfolio-page{
        gap:0px;
        align-items: center;
        justify-content: center;
    }

    .portfolio-buttons{
        font-size: 50px;
    }
    
    .p-iframe{
        width: 100%;
    }
    
    .portfolio-iframes{
        width:90%;
        height: 80%;
    }
    
    #portfolio-next, #portfolio-prev{
        display: inline-block;
        margin: 0 0.5rem;
    }

    .about-one{
        display: none;
    }

    .iframe-links{
        font-size: 20px;
    }

    .inner-about-three-div {
        width:100%;
    }
    #inner-about-three-div-one {
        padding:50px;
    }
}


