* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(49, 49, 49);
    font-family: 'Exo 2', sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 43, 43);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
    font-size: 50px;
    color: rgb(255, 217, 0);
}

.page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.page-links {
    font-size: 36px;
    text-decoration-line: none;
    transition: transform .2s;
}

.page-links:link {
    color: rgb(148, 148, 148);

}

.page-links:visited {
    color: rgb(148, 148, 148);
}

.page-links:hover {
    transform: scale(1.15);
    color: rgb(255, 217, 0);
    text-shadow: rgb(255, 235, 153) 1px 0 10px;
}

.page-links:active {
    color: rgb(255, 217, 0);
}
.strong-link{
    font-size: 45px;
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 217, 0);
}